

.KnowledgeBase .CategoryFeature
{
    padding: 4px 0;
    overflow: hidden;
}
.KnowledgeBase .CategoryFeature .Item
{
    float: left;
    width: 48%;
    padding: 0 2% 10px 0;
    list-style-type: none;
}
.KnowledgeBase .CategoryFeature .Item .ItemTitle
{
    font-size: 1.3em;
    padding: 0 0 3px 0;
}
.KnowledgeBase .CategoryFeature .Item .Description
{
    padding: 0 0 3px 4px;
}

/* Second level categories */
.KnowledgeBase .CategoryFeature .Item .SubCategories
{
    padding: 0 0 0 15px;
}
.KnowledgeBase .CategoryFeature .Item .SubCategories .SubItem
{
    list-style-type: disc;
}
.KnowledgeBase .CategoryFeature .Item .SubCategories .SubItem .SubItemTitle
{
    font-size: 1.1em;
}